body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

.navigation {
	margin: 20px 0;
}
.navigation li {
	display: inline-block;

	margin: 0 20px;
}
